extends layout

block header
  img(src='/images/brain.png')
  span #{title}

block content
  h1(id='sleep-loves-me') Sleep Loves Me
  img(src='/images/sleep-loves-me.jpg')

block footer
  span Copyright #{new Date().getFullYear()} Ben Gott, #{title}
