doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//fonts.googleapis.com/css?family=Concert+One|Kavoon', rel='stylesheet')
  body
    header
      block header
    main
      block content
    footer
      block footer
