body {
  margin: 0;
  text-align: center;
  font-family: Concert One;
  font-size: 14px;
}
header {
  font-family: Kavoon, cursive;
  font-size: 45px;
  height: 130px;
  line-height: 130px;
  background-color: rgba(120,2,2,0.2);
}
header img {
  height: 100px;
  vertical-align: middle;
}
header span {
  vertical-align: middle;
  padding-left: 0.2em;
}
main {
  width: 1000px;
  margin: 0 auto;
}
main img {
  height: 400px;
}
footer {
  margin-top: 50px;
  height: 50px;
  line-height: 50px;
}
a {
  color: #00f;
}
