body
  width 1000px
  padding 50px
  font-family Concert One
  font-size 14px
  header
    font-family Kavoon, cursive
    font-size 40px
    height 70px
    img
      height 70px
      vertical-align middle
    span
      vertical-align middle
      padding-left .2em
  footer
    top 500px
    right 500px
    padding-top 50px

#content
  padding 50px
  img
    height 400px

a
  color #00B7FF