header
  font 50px Helvetica
  height 70px
  img
    height 70px
    vertical-align middle
  span
    vertical-align middle
    padding-left .2em

body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

#content
  padding 50px

a
  color #00B7FF

footer
  top 500px
  right 500px
  padding-top 50px