body {
  margin: 0;
  text-align: center;
  font-family: Concert One;
  font-size: 3vmin;
}
header {
  font-family: Kavoon, cursive;
  font-size: 4vw;
  height: 17vh;
  line-height: 17vh;
  background-color: rgba(120,2,2,0.2);
}
header img {
  max-width: 100px;
  width: 15vmin;
  vertical-align: middle;
}
header span {
  vertical-align: middle;
  padding-left: 2vw;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
main img {
  max-width: 500px;
  min-width: 300px;
  width: 50vw;
}
footer {
  margin-top: 5vh;
  height: 5vh;
  line-height: 5vh;
}
a {
  color: #00f;
}
