header
  font-family Kavoon, cursive
  font-size 45px
  height 130px
  line-height 130px
  background-color rgba(120,2,2,.2)
  img
    height 100px
    vertical-align middle
  span
    vertical-align middle
    padding-left .2em

footer
  margin-top 50px
  height 50px
  line-height 50px

body
  margin 0
  text-align center
  font-family Concert One
  font-size 14px

#content
  width 1000px
  margin 0 auto
  img
    height 400px

a
  color #00B7FF